.basketimg{
  width: 50px;
  height: auto;
}
.basket-prod-name{
  color: #000;
  font-size: 15px;
}
.emp-profile{
padding: 3%;
margin-top: 3%;
margin-bottom: 3%;
border-radius: 0.5rem;
background: #fff;
}
.table th, .table td{
  vertical-align: middle;
}
.prodcount{
  display: block;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
