/*About us*/

.section {
  min-height: 100vh;
}

.last {
  border: 3px dashed #218838;
  padding: 10px;
  margin: 0 20px 10px 20px;
  font-size: 25px;
  text-align: justify;
}

.aboutusimg {
  display: block;
  margin: 0 auto 10px auto;
  max-width: 300px;
  height: auto;
}

.text-secondary.li {
  font-size: 20px;
}
